body {
  color: #40514E;
  font-family: 'Merriweather', serif;
  margin: 0;
  text-align: center;
}

h1 {
  color: #006E7F;
  line-height: 2;
  margin: 50px auto 0 auto;
  font-family: 'Sacramento', cursive;
  font-size: 5.625rem;
}

h2 {
  color: #006E7F;
  font-family: 'Montserrat', sans-serif;
  font-size: 2.5rem;
  font-weight: normal;
  padding-bottom: 20px;
}

h3 {
  color: #E59934;
  font-family: 'Montserrat', sans-serif;
}

hr {
  border-color: #DFDFDE;
  border-style: dotted none none;
  border-width: 10px;
  width: 5%;
}

p {
  line-height: 2;
}

a {
  text-decoration: none;
  font-family: 'Montserrat', sans-serif;
  color: #006E7F;
  margin: 20px;
}

a:hover {
  color: #FFE652;
}

.top-container {
  background-color: #DFDFDE;
  position: relative;
  padding-top: 120px;
  padding-bottom: 20px;
}

.middle-container {
  margin: 100px 0;
}

.bottom-container {
  padding: 20px;
  background-color: #66BFBF;
}

.teacher {
  position: relative;
  top: 10px;
  width: 200px;
}

.top-gear {
  position: absolute;
  right: 20%;
  top: 20px;
  width: 100px;
}

.img-interface {
  position: absolute;
  left: 20%;
  top: 20px;
  width: 100px;
}

.profile {
  margin: 100px auto;
}

.pro {
  text-decoration: underline;
}

.intro {
  width: 50%;
  margin: auto;
}

.skill-row {
  margin: 100px auto;
  padding: 20px;
  text-align: left;
  width: 50%;
}

.skill-img{
  float: left;
  margin-right: 30px;
  width: 20%;
}

.skill-img-right{
  float: right;
  margin-left: 30px;
  width: 20%;
}

.copyright {
  color: #EAF6F6;
  font-size: .75rem;
  padding: 20px 0;
}

.contact-me {
}

.contact-message {
  width: 50%;
  margin: 40px auto 60px;
}

.btn {
  background: #66BFBF;
  background-image: -webkit-linear-gradient(top, #66BFBF, #006E7F);
  background-image: -moz-linear-gradient(top, #66BFBF, #006E7F);
  background-image: -ms-linear-gradient(top, #66BFBF, #006E7F);
  background-image: -o-linear-gradient(top, #66BFBF, #006E7F);
  background-image: -webkit-gradient(to bottom, #66BFBF, #006E7F);
  -webkit-border-radius: 8;
  -moz-border-radius: 8;
  border-radius: 8px;
  font-family: 'Montserrat', sans-serif;
  color: #ffffff;
  font-size: 20px;
  padding: 10px 20px 10px 20px;
  border: 0;
  text-decoration: none;
}

.btn:hover {
  background: #30e3cb;
  background-image: -webkit-linear-gradient(top, #30e3cb, #2bc4ad);
  background-image: -moz-linear-gradient(top, #30e3cb, #2bc4ad);
  background-image: -ms-linear-gradient(top, #30e3cb, #2bc4ad);
  background-image: -o-linear-gradient(top, #30e3cb, #2bc4ad);
  background-image: -webkit-gradient(to bottom, #30e3cb, #2bc4ad);
  text-decoration: none;
}
